@model SlelectExample.ViewModel.CustomerCreateModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>

@{
    ViewData["Title"] = "Create";
}

<h4>Create Customer Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Customer.FirstName" class="control-label"></label>
                <input asp-for="@Model.Customer.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.LastName" class="control-label"></label>
                <input asp-for="@Model.Customer.LastName" class="form-control" />
                <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.EmailId" class="control-label"></label>
                <input asp-for="@Model.Customer.EmailId" class="form-control" />
                <span asp-validation-for="@Model.Customer.EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.CountryID" class="control-label">Country Name</label>
                <select id="lstCountry" asp-for="@Model.Customer.CountryID" class="form-control" asp-items="@Model.Countries">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-lable">State Name</label><br />
                <select class="form-control" id="lstState" asp-for="@Model.Customer.StateID" asp-items="@Model.States">
                    <option value="">Select State</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-lable">City Name</label><br />
                <select class="form-control" id="lstCity" asp-for="@Model.Customer.CityID" asp-items="@Model.Cities">
                    <option value="">Select City</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    $(document).ready(function () {
        $('#lstCountry').change(function () {
            var selectedCountry = $('#lstCountry').val();
            var stateSelect = $('#lstState');
            stateSelect.empty();
            if (selectedCountry != null && selectedCountry != '') {
                $.getJSON('@Url.Action("GetState")', { CountryID: selectedCountry }, function (states) {
                    if (states != null && !jQuery.isEmptyObject(states)) {
                        stateSelect.append($('<option/>', {
                            value: null,
                            text: "Select State"
                        }));
                        $.each(states, function (index, state) {
                            stateSelect.append($('<option/>', {
                                value: state.value,
                                text: state.text
                            }));
                        });

                    };
                });
            }
        });
        $('#lstState').change(function () {
                var selectedState = $('#lstState').val();
                var citySelect = $('#lstCity');
                citySelect.empty();
              if (selectedState != null && selectedState != '') {
                 $.getJSON('@Url.Action("GetCity")', { StateID: selectedState }, function (cities) {
                    if (cities != null && !jQuery.isEmptyObject(cities)) {
                        citySelect.append($('<option/>', {
                            value: null,
                            text: "Select City"
                        }));
                        $.each(cities, function (index, city) {
                            citySelect.append($('<option/>', {
                                value: city.value,
                                text: city.text
                            }));
                        });
                    };
                 });
              }
        });
    });






    </script>



}
